@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #080808;
  --foreground: #d4d4d4;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar but keep functionality */
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}